body
{
    background: #EAE3CB;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cont
{
    background: blue;
    height: 500px;
    width: 500px;

    display: flex;
}
.seccion
{
    background.color: white;
    height: 50px;
    width: 100px
}
.seccionred
{
    background.color: red;
}
.btn
{
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100px;
    margin: 20px;
}
.btn:hover
{
    transition: 1s;
    opacity: 80%;
}
.conColor
{
    background: red;
}
